.global {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.8rem;
  width: 200px;
  height: 300px;
  background-color: #ddd;
  border-radius: 0.3rem;
}

.item {
  font-size: small;
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
